.navbar-brand {
  padding: 0;
}

.CodeMirror {
  overflow: visible;
}

pre.firepad-li-29 {
    padding-left: 0px !important;
}

.firepad {
  width: 98%;
  height: 450px;
  background-color: #c3cbcd;
  margin: 0 auto;
}

.firepad-toolbar-wrapper {
  padding-left: 10px;
}

.firepad-toolbar {
  padding-left: 0px;
}

a.firepad-btn, a.firepad-btn:visited, a.firepad-btn:active {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif
}

#userlist {
  position: absolute; left: 0; top: 0; bottom: 0; height: auto;
  width: 175px;
}

#firepad {
  position: absolute;
  left: 175px;
  top: 0;
  bottom: 0;
  right: 0;
  height: auto;
}

textarea {
  color: #454545
}

textarea::selection{
	background: #ffb7b7;
}

#iframeLink{
  text-align: center;
}

.DraftEditor-editorContainer {
  background-color:#fff;
  color:black;
  border:1px solid grey;
  position:relative;

}

button{
  color:black;
}

.DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content{
	height:400px;
}


.superFancyBlockquote {
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.superFancyBlockquote {
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}