$bs-blue: #2f79b9;
$light-gray: #b2b2b3;
$bs-red: #db524b;
$bs-green: #54b253;
$yellow: #ffffcc;
$font: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

.navbar-brand, .navbar-brand a, .brand-heading {
  padding: 0;
  color: white;
  font-weight: bold;
}

.navbar p {
  color: white;
}

h1, h2 {
  font-family: $font;
}

div h1, div h2, div h2 p, #about p, #contact p, footer p {
  color: white;
  padding-left: 10px;
}

a {
  color: $bs-blue;
}

a:hover {
  color: $yellow;
  text-decoration: none;
}

div, p {
  font-family: $font;
}

.whoami-user-name {
  color: white;
  padding-right: 10px;
}

/*.CodeMirror {
  overflow: visible;
}

pre.firepad-li-29 {
    padding-left: 0px !important;
}

.firepad {
  width: 98%;
  height: 450px;
  background-color: #c3cbcd;
  margin: 0 auto;
}

.firepad-toolbar-wrapper {
  padding-left: 10px;
}

.firepad-toolbar {
  padding-left: 0px;
}

a.firepad-btn, a.firepad-btn:visited, a.firepad-btn:active {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif
}*/

#userlist {
  position: absolute; left: 0; top: 0; bottom: 0; height: auto;
  width: 175px;
}

/*#firepad {
  position: absolute;
  left: 175px;
  top: 0;
  bottom: 0;
  right: 0;
  height: auto;
}*/

textarea {
  color: #454545
}

textarea::selection{
	background: #ffb7b7;
}

#iframeLink{
  text-align: center;
}

.DraftEditor-editorContainer {
  background-color:#fff;
  color:black;
  border:1px solid grey;
  position:relative;

}

button{
  color:black;
}

.DraftEditor-editorContainer, .DraftEditor-root, .public-DraftEditor-content{
	height:400px;
}

.DraftEditor-editorContainer div h1, div h2 {
  color: black;
}

.superFancyBlockquote {
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-controls .btn {
  margin: 0 5px;
  padding: 3px 15px;
}

.RichEditor-styleButton {
  cursor: pointer;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.public-DraftEditor-content{
  overflow:auto;
}

.skills{
  margin-bottom: 20px;
  background:#fff;
  /*box-shadow: 0 3px 5px 2.5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 5px 2.5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 5px 2.5px rgba(0, 0, 0, 0.5);*/
}

.skills h2{
  text-align:center;
  width:100%;
  margin: 0 0 20px 0;
}

.skills .chart{
  position:relative;
  display: block;
  padding: 10px;
  margin: 0 0 3px 0;
  text-align: center;
  position: relative;
  /*border: 4px double rgba(0,0,0,0.1);*/
  background:rgba(255,255,255,0.5);
}

.skills .chart:after{
  content: "";
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  box-shadow: inset 0 3px 5px 2.5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 3px 5px 2.5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 3px 5px 2.5px rgba(0, 0, 0, 0.5);
}

.skills .chart span{
  position: absolute;
  left: 0;
  top:0;
  background-color: $bs-green;
  /*background: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0344/5202/r3445202_rrPineapple_-_med_repeats_teal_f_shop_preview.png") repeat rgba(0, 155, 119, 0.8);*/
  z-index:0;
  height:100%;
  width:0px;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -ms-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.skills .chart p{
  position: relative;
  z-index: 100;
  margin: 0;
  color:#333;
  font-size: 0.9em;
  line-height:1.2em;
  border-radius: 4px;
}

.sidebar-nav-fixed{
  color:black;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

#main-user-head{
  background-color: bisque;
  color: red;
}

.sentimeter {
  background-color: black;
  color: white;
  padding: 10px;
}

.entitySpan {
  background-color: rgba(204, 204, 255, 1.0);
  padding: 2px 0;
}

.nav>li>a {
padding: 5px 0px;
display: inline-block;
}

.ok {
  color: $bs-green;
  padding: 0px 5px;
}

.remove {
  color: $bs-red;
  padding: 5px 5px;
  float: right;
}

.center {
  margin: 0 auto;
}

.margin-bottom {
  margin-bottom: 10px;
}

.alert-box {
  width: 50vw;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -25vw;
  margin-top: -40px;
	padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.success {
  color: $bs-green;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  display: none;
}

@media (min-width: 768px) {
  body {
      margin-top: 0;
  }
}

.move {
  color: $bs-blue;
  padding: 0 0 0 5px;
}

// /* Tooltip container */
// .tooltip {
//     position: relative;
//     display: inline-block;
//     border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
// }

// /* Tooltip text */
// .tooltip .tooltiptext {
//     visibility: hidden;
//     width: 720px;
//     background-color: black;
//     color: #fff;
//     text-align: center;
//     border-radius: 6px;
//     padding: 5px 0;
//     position: absolute;
//     z-index: 1;
//     bottom: 150%;
//     left: 50%;
//     margin-left: -60px;
// }

// .tooltip .tooltiptext::after {
//     content: "";
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: black transparent transparent transparent;
// }

// /* Show the tooltip text when you mouse over the tooltip container */
// .tooltip:hover .tooltiptext {
//     visibility: visible;
// }

// [data-tooltip] {
//   position: relative;
//   z-index: 2;
//   cursor: pointer;
// }

// [data-tooltip]:before,
// [data-tooltip]:after {
//   visibility: hidden;
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//   filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
//   opacity: 0;
//   pointer-events: none;
// }

// /* Position tooltip above the element */
// [data-tooltip]:before {
//   position: absolute;
//   bottom: 150%;
//   left: 50%;
//   margin-bottom: 5px;
//   margin-left: -80px;
//   padding: 7px;
//   width: 160px;
//   -webkit-border-radius: 3px;
//   -moz-border-radius: 3px;
//   border-radius: 3px;
//   background-color: #000;
//   background-color: hsla(0, 0%, 20%, 0.9);
//   color: #fff;
//   content: attr(data-tooltip);
//   text-align: center;
//   font-size: 14px;
//   line-height: 1.2;
// }

// /* Triangle hack to make tooltip look like a speech bubble */
// [data-tooltip]:after {
//   position: absolute;
//   bottom: 150%;
//   left: 50%;
//   margin-left: -5px;
//   width: 0;
//   border-top: 5px solid #000;
//   border-top: 5px solid hsla(0, 0%, 20%, 0.9);
//   border-right: 5px solid transparent;
//   border-left: 5px solid transparent;
//   content: " ";
//   font-size: 0;
//   line-height: 0;
// }

// /* Show tooltip content on hover */
// [data-tooltip]:hover:before,
// [data-tooltip]:hover:after {
//   visibility: visible;
//   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
//   filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
//   opacity: 1;
// }

li {
  cursor: pointer;
}

li a:hover {
  color: darkslategray
}

.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  padding-left: 5px;
  padding-right: 5px;
}

input {
  width: 100%;
}

.well .nav-header {
  margin-top: 20px;
  color: $bs-blue;
}

.entities-header {
  margin-top: 0px;
  color: black;
}

.panel-heading a:hover {
  color: black;
}

.panel-footer .pull-left {
  color: black;
}

.sentiment-header {
  color: black;
}

.bg-neutral {
  background-color: $light-gray;
}

.bg-success {
  background-color: $bs-green;
}

.bg-danger {
  background-color: $bs-red;
}

.bg-primary {
  background-color: $bs-blue;
  color: white;
}

.bold {
  font-weight: 900;
}

#about p, #download p, #contact p {
  color: $light-gray;
}

// for entity search in sidebar
//--------------------------------
.search {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.add-on .input-group-btn > .btn {
  left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none;
 border-color:#cccccc;
}

.form-control {
  width:20%
}

.navbar-nav > li > a {
  border-right: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
}

.navbar-nav:last-child {
  border-right:0
}

.navbar-form {
  padding: 0px;
}
